player-connection-mode=Connect
player-connection-guid=4080551539
player-connection-debug=0
player-connection-project-name=My project
player-connection-wait-timeout=-1
player-connection-ip=133.2.209.89
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
xr-meta-enabled=0
xr-vulkan-extension-fragment-density-map-enabled=1
xr-request-additional-vulkan-graphics-queue=0
xr-use-vulkan-offscreen-swapchain-no-main-display-buffer=0
build-guid=f8c838de60ed4e729237e3e4db9f1710
